<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.framework.pie.business.wechat.dao.BusWechatmenuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.framework.pie.business.wechat.model.BusWechatmenu">
        <id column="id" property="id"/>
        <result column="parentId" property="parentId"/>
        <result column="type" property="type"/>
        <result column="name" property="name"/>
        <result column="url" property="url"/>
        <result column="wechatInfo_id" property="wechatinfoId"/>
        <result column="created_by" property="createdBy"/>
        <result column="created_time" property="createdTime"/>
        <result column="updated_by" property="updatedBy"/>
        <result column="updated_time" property="updatedTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, parentId, type, name, url, wechatInfo_id, created_by, created_time, updated_by, updated_time
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from bus_wechatmenu
        where id = #{id}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete  from bus_wechatmenu
        where id = #{id}
    </delete>
    <insert id="insert" parameterType="com.framework.pie.business.wechat.model.BusWechatmenu">
        insert into bus_wechatmenu(id, parentId, type, name, url, wechatInfo_id, created_by, created_time, updated_by, updated_time)
    <trim prefix="values (" suffix=")" suffixOverrides=",">
         #{id},
         #{parentId},
         #{type},
         #{name},
         #{url},
         #{wechatInfo_id},
         #{created_by},
         #{created_time},
         #{updated_by},
         #{updated_time},
    </trim>
    </insert>
    <insert id="insertSelective" parameterType="com.framework.pie.business.wechat.model.BusWechatmenu">
        <selectKey  keyProperty="id" resultType="java.lang.Long" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into bus_wechatmenu
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="parentId != null">
                parentId,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="url != null">
                url,
            </if>
            <if test="wechatInfo_id != null">
                wechatInfo_id,
            </if>
            <if test="created_by != null">
                created_by,
            </if>
            <if test="created_time != null">
                created_time,
            </if>
            <if test="updated_by != null">
                updated_by,
            </if>
            <if test="updated_time != null">
                updated_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
             #{id},
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="parentId != null">
             #{parentId},
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="type != null">
             #{type},
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">
             #{name},
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="url != null">
             #{url},
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="wechatInfo_id != null">
             #{wechatInfo_id},
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="created_by != null">
             #{created_by},
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="created_time != null">
             #{created_time},
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="updated_by != null">
             #{updated_by},
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="updated_time != null">
             #{updated_time},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.framework.pie.business.wechat.model.BusWechatmenu">
        update bus_wechatmenu
        <set>
            <if test="id != null">
                id = #{id},
            </if>
            <if test="parentId != null">
                parentId = #{parentId},
            </if>
            <if test="type != null">
                type = #{type},
            </if>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="url != null">
                url = #{url},
            </if>
            <if test="wechatInfo_id != null">
                wechatInfo_id = #{wechatInfo_id},
            </if>
            <if test="created_by != null">
                created_by = #{created_by},
            </if>
            <if test="created_time != null">
                created_time = #{created_time},
            </if>
            <if test="updated_by != null">
                updated_by = #{updated_by},
            </if>
            <if test="updated_time != null">
                updated_time = #{updated_time},
            </if>
        </set>
        where id = #{id}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.framework.pie.business.wechat.model.BusWechatmenu">
        update bus_wechatmenu
        set
           id = #{id},
           parentId = #{parentId},
           type = #{type},
           name = #{name},
           url = #{url},
           wechatInfo_id = #{wechatInfo_id},
           created_by = #{created_by},
           created_time = #{created_time},
           updated_by = #{updated_by},
           updated_time = #{updated_time}        where id = #{id}
    </update>
    <select id="findAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from bus_wechatmenu
    </select>
    <select id="findPage" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from  bus_wechatmenu
    </select>
</mapper>
