<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.framework.pie.business.wechat.dao.BusWechatmenuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.framework.pie.business.wechat.model.BusWechatmenu">
        <id column="id" property="id"/>
        <result column="menu" property="menu"/>
        <result column="wechatInfo_id" property="wechatinfoId"/>
        <result column="created_by" property="createdBy"/>
        <result column="created_time" property="createdTime"/>
        <result column="updated_by" property="updatedBy"/>
        <result column="updated_time" property="updatedTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, menu, wechatInfo_id, created_by, created_time, updated_by, updated_time
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from bus_wechatmenu
        where id = #{id}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete  from bus_wechatmenu
        where id = #{id}
    </delete>
    <insert id="insert" parameterType="com.framework.pie.business.wechat.model.BusWechatmenu">
        insert into bus_wechatmenu(id, menu, wechatInfo_id, created_by, created_time, updated_by, updated_time)
    <trim prefix="values (" suffix=")" suffixOverrides=",">
         #{id},
         #{menu},
         #{wechatInfo_id},
         #{created_by},
         #{created_time},
         #{updated_by},
         #{updated_time},
    </trim>
    </insert>
    <insert id="insertSelective" parameterType="com.framework.pie.business.wechat.model.BusWechatmenu">
        <selectKey  keyProperty="id" resultType="java.lang.Long" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into bus_wechatmenu
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="menu != null">
                menu,
            </if>
            <if test="wechatinfoId != null">
                wechatInfo_id,
            </if>
            <if test="createdBy != null">
                created_by,
            </if>
            <if test="createdTime != null">
                created_time,
            </if>
            <if test="updatedBy != null">
                updated_by,
            </if>
            <if test="updatedTime != null">
                updated_time,
            </if>
        </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
             #{id},
            </if>
            <if test="menu != null">
             #{menu},
            </if>
            <if test="wechatinfoId != null">
             #{wechatinfoId},
            </if>
            <if test="createdBy != null">
             #{createdBy},
            </if>
            <if test="createdTime != null">
             #{createdTime},
            </if>
            <if test="updatedBy != null">
             #{updatedBy},
            </if>
            <if test="updatedTime != null">
             #{updatedTime},
            </if>
    </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.framework.pie.business.wechat.model.BusWechatmenu">
        update bus_wechatmenu
        <set>
            <if test="id != null">
                id = #{id},
            </if>
            <if test="menu != null">
                menu = #{menu},
            </if>
            <if test="wechatinfoId != null">
                wechatInfo_id = #{wechatinfoId},
            </if>
            <if test="createdBy != null">
                created_by = #{createdBy},
            </if>
            <if test="createdTime != null">
                created_time = #{createdTime},
            </if>
            <if test="updatedBy != null">
                updated_by = #{updatedBy},
            </if>
            <if test="updatedTime != null">
                updated_time = #{updatedTime},
            </if>
        </set>
        where id = #{id}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.framework.pie.business.wechat.model.BusWechatmenu">
        update bus_wechatmenu
        set
           id = #{id},
           menu = #{menu},
           wechatInfo_id = #{wechatinfoId},
           created_by = #{createdBy},
           created_time = #{createdTime},
           updated_by = #{updatedBy},
           updated_time = #{updatedTime}        where id = #{id}
    </update>
    <select id="findAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from bus_wechatmenu
    </select>
    <select id="findPage" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from  bus_wechatmenu
    </select>
    <select id="findMneu" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from  bus_wechatmenu
        where
        wechatInfo_id = #{wechatinfoId}
    </select>
</mapper>
